<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID">
  <display-name>HBaseRemoteUI</display-name>
  <description>HBase remote ui</description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HBaseServlet</servlet-name>
    <servlet-class>servlet.HBaseServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HBaseServlet</servlet-name>
    <url-pattern>/HBaseServlet.do</url-pattern>
  </servlet-mapping>
</web-app>